@model IEnumerable<Genre>
@{
}
<h2>Genres</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GenreName</td>

                <td>
                    <a href="/Genre/Edit?id=@item.Id" class="btn btn-outline-success">Update</a>
                    <a onclick="return window.confirm('Are you sure?')" href="/Genre/Delete?id=@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



    <div class="input-container">
        <a href="/Genre/Add" class="btn btn-danger">Back</a>
    </div>
</div>
